{% extends 'BaazaarBaazaarBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="medium-3 columns">
            {{ render( controller('BaazaarBaazaarBundle:Page:sidebar')) }}
        </div>
         <div class="medium-9 columns">
             <h3>About</h3>
             <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque non tortor sed vulputate. Sed mattis tellus at gravida lacinia. Cras eleifend vestibulum metus. Fusce ut ultrices enim, ut rhoncus libero. Aliquam suscipit ante mi, a scelerisque dui accumsan quis. Sed sit amet sem vitae orci posuere hendrerit id id arcu. In pretium vulputate eros, sit amet congue ex euismod gravida. Sed finibus in ex quis gravida.
                Etiam placerat risus et mi viverra consequat. Integer auctor, lorem ac porta tincidunt, nisi mi ornare purus, vel scelerisque leo elit ut sapien. Aliquam egestas lorem et nisi maximus, tincidunt condimentum tortor aliquam. Maecenas volutpat eleifend volutpat. Sed laoreet ut nibh et vulputate. Sed posuere lobortis purus in suscipit. Vivamus a tortor varius, scelerisque mauris vel, vehicula ipsum. Nunc lobortis placerat libero malesuada ullamcorper. Sed nec ante dapibus, luctus odio ac, molestie sem. Fusce sollicitudin leo et ante vehicula vehicula. Etiam euismod aliquet tellus vitae fringilla. Suspendisse ac dolor laoreet eros feugiat vestibulum rutrum nec dolor. Fusce posuere lectus ac nibh consectetur placerat.
                Quisque vehicula lorem posuere quam consectetur rutrum. Vivamus suscipit posuere mauris, vitae sollicitudin neque luctus pharetra. Morbi eu nulla ac nibh pellentesque mollis sit amet luctus nunc. Etiam sit amet pharetra metus, finibus consequat augue. Morbi vel sem nisi. Nulla non pharetra ipsum, non lacinia tellus. Suspendisse suscipit feugiat urna, vitae congue felis posuere vitae. Donec mauris purus, posuere at dolor id, convallis congue nulla.
                Aliquam sed sapien felis. Sed turpis lacus, aliquet eu velit ut, commodo molestie diam. Vivamus tristique enim vitae dui luctus vehicula. Duis quis maximus diam. Donec tellus risus, sagittis eu sodales a, consectetur ut justo. Nullam laoreet facilisis augue non aliquam. Duis quis leo luctus, consectetur ipsum dictum, luctus sem. Donec finibus, ex ut molestie laoreet, ex magna ornare nibh, id egestas augue tellus non ligula. Aliquam erat volutpat. Maecenas et nisl quis lectus dapibus rutrum. Phasellus viverra ac libero sit amet dignissim. Morbi id urna pulvinar neque consectetur ultrices eget ut augue. Curabitur porttitor, mi vitae aliquet eleifend, augue nisl egestas ex, quis accumsan dui turpis nec sapien. Mauris sit amet vehicula risus. Curabitur tristique eros eu nibh ultricies pellentesque. Nullam sit amet imperdiet urna.
                Morbi pharetra risus eu arcu varius mollis. Nunc felis diam, egestas eget commodo et, dapibus ut diam. Phasellus ornare, tellus at mattis tempus, velit orci ornare neque, ut congue ante ligula in enim. Suspendisse efficitur at sem quis tempus. Maecenas id nisl tristique, rhoncus arcu id, molestie metus. Aliquam blandit porta gravida. Curabitur sit amet ante lacinia, rutrum odio nec, condimentum sapien. Nam sagittis eleifend nisi vitae dapibus. Proin rhoncus lacus et quam tristique rutrum. Nulla ullamcorper mollis orci. Donec placerat augue id placerat cursus. Cras pharetra metus eu ex aliquet, et tempus metus egestas. Nunc sem mauris, malesuada quis varius ac, efficitur a mi. Sed non tincidunt diam. Phasellus mollis est ipsum, eget ullamcorper enim porttitor a
             </p> </div>
    </div>
{% endblock %}
