{% extends 'BaazaarBaazaarBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="medium-3 columns">
              {{ render(controller('BaazaarBaazaarBundle:Page:sidebar')) }}
              {% if facets is defined %}
                  {% include 'BaazaarBaazaarBundle:Search:facets.html.twig' %}
              {% endif %}
        </div>
        <div class="medium-9 columns">
            <div class="row">
              <div class="medium-12 columns">
                  Playstation > Playstation 1 > Final Fantasy
              </div>
            </div>
            <div class="row">
              <div class="medium-12 columns">
                <div class="sorting">
                  <h2>Sorteer op: </h2>
                    <ul>
                      <li>Prijs </li>
                      <li>Datum</li>
                      <li>Alfabetisch</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="row">
                 <div class="medium-12 columns">
                         <div class="products--grid row">
                            {% for ad in ads %}
                              <div class="small-12 medium-6 large-3 columns {% if loop.last %}end {% endif %}">
                                  {% include 'BaazaarBaazaarBundle:Ad:teaser.html.twig' %}
                              </div>
                            {% endfor %}
                         </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}
