body{background: #e2e2e2;}
h4{color:#984B43;}
/*#18121E;
#233237;
#984B43,
#EAC67A;*/

a{color:black;}
a:hover{color:#984B43;}

/*Top navigation*/
.nav-top{background:#233237;padding:25px 0;}
.nav-top a,
.nav-primary a{color:#ffffff;}
.nav-primary{background:#18121E;padding:15px 0;color:white;}


/*wrapper*/
.wrapper{padding-top:25px;}

/*search-results*/
.products--grid .columns{padding-left: 0;padding-right: 0.5rem;}

/*categories list*/
.categories-list ul{list-style-type: none;}
.categories-list > ul{padding:0;margin:0;}
.categories-list > ul > li > a{ color: black;font-weight:bold;}

/*sorting*/
.sorting{}
  .sorting h2{font-size:14pt;float:left;margin-top:0;padding-top:0;margin-right:50px;}
  .sorting ul{list-style-type: none;margin-top:0;padding-top:0;}
    .sorting ul li{float:left;margin-right: 20px;}

.product{overflow:hidden;border:1px solid #233237;margin-bottom:25px;border-radius: 10px 0 0 0;min-height: 280px;}
  .product__header{overflow:hidden;}
    .product__header--media{min-height: 150px;background-size:cover;background-repeat:no-repeat;  background-position: center center;}
    .product__header--title{font-size:14pt;font-weight:bold;padding:15px 15px 0 15px;}
    .product__header--title a{color:#984B43;}
  .product__content{padding:0 15px;}
    .product__content ul{font-size:10pt;list-style-type: none;margin-left:0;}


/*general block styling*/
.block{border:1px solid #233237;margin-bottom:15px;border-radius: 10px 0 0 0;overflow:hidden;}
  .block--header{background-color:#233237;padding:15px;color:#e2e2e2;}
  .block--content{padding:15px 15px 15px 15px;}
  .block--footer{padding:0 15px;}

/*user info block*/
.user-info .block--content ul{list-style-type: none;margin:0;padding:0;}
  .user-info .block--content ul li a{margin-bottom:5px;width: 100%;text-align: left;}
  .user-info .block--content ul li a i{margin-right:10px;}

/*ad details block*/
.ad--details ul{list-style-type: none;}
.ad--details ul li i{display: inline-block;width:20px;margin-right: 10px;}

/*social buttons*/
.social-buttons ul{list-style-type: none;margin:0;padding:0;margin-top: -15px;}
.social-buttons ul li{float:left;margin-right: 15px;}
.social-buttons i{color:#984B43;}

/*icon formats*/
i.large{font-size:30pt;}
i.medium{font-size:16pt;}
