{% extends 'BaazaarBaazaarBundle::layout.html.twig' %}

{% block body %}
<div class="row">
      <div class=" medium-3 columns">
          {% include 'BaazaarBaazaarBundle:User:user-menu.html.twig' %}
      </div>
      <div class="medium-9 columns">
        <div class="block">
          <div class="block--header">
            Mijn advertenties
          </div>
          <div class="block--content">
              <div class="products--list">
                {% for ad in ads %}
                  {% include 'BaazaarBaazaarBundle:Ad:teaser-list.html.twig' %}
                  <hr>
                {% endfor %}
              </div>
            </div>
            <div class="block--footer">

            </div>
          </div>
      </div>
</div>
{% endblock %}
