{% extends 'BaazaarBaazaarBundle::layout.html.twig' %}

{% block body %}
<div class="row">
      <div class=" medium-3 columns">
          {% include 'BaazaarBaazaarBundle:User:user-menu.html.twig' %}
      </div>
      <div class="medium-9 columns">
              <ul>
                {% for bid in bids %}
                  <li>
                      €{{ bid.amount }} on {{ bid.ad.title }}
                  </li>
                {% endfor %}
              </ul>
      </div>
</div>
{% endblock %}
