{% extends 'BaazaarBaazaarBundle::layout.html.twig' %}

{% block body %}
<div class="row">
      <div class=" medium-3 columns">
          {% include 'BaazaarBaazaarBundle:User:user-menu.html.twig' %}
      </div>
      <div class="medium-9 columns">
          <div class="inbox-nest">

                            <ul>
                                <li>
                                    <div class="inbox-header">

                                        <div class="row">
                                            <div class="large-9 columns">
                                                <h1 class="font-title">Thread {{ thread.subject }}</h1>
                                            </div>
                                            <div class="large-3 columns" style="position:relative;left:25px">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% for message in thread.messages %}
                                    <li>
                                          {% if not fos_message_is_read(message) %} This message is new! {% endif %}
                                          <h4>{{ message.createdAt | date('d M Y H:i:s') }}</h4>
                                          <p> {{ message.body }}   </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
            </div>
          </div>
{% endblock %}
